
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	overflow-x: hidden;
	height: 100%;
	font-family: 'Cardo', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}

p {
	font-size: 18px;
}

a {
	color: rgb(97, 101, 142);
	text-decoration: none;
	display: inline-block;
}

h1 {
	font-size: 34px;
	margin-top: 0;
}

.field {
	margin: 1.5em 0;
}

.field--inline {
	margin-bottom: 1em;
	display: inline-block;
	margin-right: 20px;
}

.field--inline:last-of-type {
	margin-right: 0;
}

.field--inline input {
	width: 4em;
}

.cell[disabled] {
	opacity: 0.8;
	cursor: default;
}

.cell {background: white; }
.cell.is-active { background: #444; }

.rules-patterns-cells {
	background: rgb(222, 223, 229);
}

.rules td {
	text-align: center;
	padding: 4px 7px;
	border-right: 1px solid #ddd;
}

.rules td:last-child {
	border-right: 0;
}

.cell {
	display: inline-block;
	border: 0;
	margin: 0 4px 0 0;
	width: 12px;
	height: 12px;
}

.rules-arrows td {
	color: #888;
}

.rules-newStates .cell {
	width: 20px;
	height: 20px;
	margin: 0;
}

.row {
	height: auto;
}

.grid .cell {
	width: 30px;
	height: 30px;
	background: #ddd;
}

.grid .cell.is-active {
	background: #222;
}

body > svg {
	display: block;
	background: #f8f8f8;
	margin: 0;
	width: 100%;
	height: 100%;
}

.rules {
	margin: 0 auto;
	padding: 20px 0;
}

.rules table {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	z-index: 2;
}

.meta {
	position: fixed;
	top: 0;
	right: -600px;
	width: 600px;
	min-height: 100%;
	border-left: 1px solid rgb(181, 181, 181);
	background: rgb(222, 223, 229);
	padding: 20px 30px 10px 50px;
	margin: 0;
	-webkit-transition: right 0.25s ease-in-out;
	-moz-transition: right 0.25s ease-in-out;
	-ms-transition: right 0.25s ease-in-out;
	transition: right 0.25s ease-in-out;
}

.meta.is-open {
	right: 0px;
}

.meta-btn {
	font-weight: bold;
	width: 65px;
	height: 65px;
	position: absolute;
	left: -65px;
	font-size: 40px;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
	border-left: 1px solid rgb(181, 181, 181);
	border-bottom: 1px solid rgb(181, 181, 181);
	border-top: 1px solid rgb(181, 181, 181);
	background: rgb(222, 223, 229);
	border-radius: 4px 0 0 4px;
	color: #999;
}

.meta-btn.meta-fastForward {
	font-size: 32px;
}

.meta-btn.meta-play {
	font-size: 38px;
}

.has-newSetting {
	color: rgb(83, 205, 83);
}

.meta-btn:hover {
	color: #222;
}

.meta-btn:nth-child(1) { top: 8px; }
.meta-btn:nth-child(2) { top: 80px; }
.meta-btn:nth-child(3) { top: 160px; }
.meta-btn:nth-child(4) { top: 240px; }

.meta.is-open .meta-open-gear {
	display: none;
}

.meta.is-open .meta-open-close {
	display: block;
}

.meta > span {
	display: inline-block;
	margin-right: 20px;
}

.meta > span:last-child {
	margin-right: 0;
}

.meta-decimal {
	display: inline-block;
	margin: 0;
}

.meta-decimal input {
	width: 3em;
	text-align: center;
}

.hide {display: none}

.field--seed span {
	display: inline-block;
	margin-left: 10px;
}

.field--seed span label {
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.meta {
		display: none;
	}

	svg {
		width: 100%;
	}
}
